
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2vh auto;
  width:98vw;
  min-height:96vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:92%;
}

.main-content .link-box {
  height:100%;
}

.top, .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height:5%;
  width:100%;
}

.bottom .link-box {
  width:100%;
}

.home {
  width:15%;
}
.work, .about {
  width:42.5%;
}

.content {
  text-align: center;
}

.main-side {
  width:8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.main-side .link-box {
  height:5%;
  width:100%;
}

.navbar-link, .side-link {
  cursor:pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navbar-link:hover, .side-link:hover{
  /*font-size: 0.9em;*/
  text-shadow: 3px 3px rgba(0,0,0,0.8);
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* TRANSITION */

.hidden-work {
  opacity: 0 !important;
  transform: translateX(400px)!important;
  position: fixed;
}

.is-ready-work {
  opacity: 1 !important;
  transform: translateX(0) !important;
  transition-duration:0.1s;
  position: relative;
}

.hidden {
  opacity: 0 !important;
  transform: translateX(-50px)!important;
}

.is-ready{
  opacity: 1 !important;
  transform: translateX(0) !important;
  transition-duration:0.5s;
}
.remove {
  opacity: 0 !important;
  transform: translateX(50px)!important;
  transition-duration: 0.5s;
}

/* bottom effects */

nav a {
  position:relative;
	display: inline-block;
	outline: none;
	color: black;
  width:100%;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
	outline: none;
}

/* Effect 5: same word slide in */
.cl-effect-5 {
  width:100%;
  text-align: center;
}
.cl-effect-5 a {
	overflow: hidden;
	padding: 0;
}

.cl-effect-5 a span {
	display: inline-block;
  width:100%;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}


@media screen and (max-width:1000px){
  .main-container {
    margin: 1vh auto;
    flex-direction: column;
  }
  .main-container .main-content {
    width: 100%;
    min-height: 90vh;
  }
  .main-container .main-content {
    border-bottom: 0px solid black;
  }
  .main-container .main-content .content {
    padding:5vh 0;
  }
  .main-container .main-content .bottom {
    height: 5vh;
  }
  .main-container .main-side {
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .main-container .main-side .link-box {
    height:5vh;
  }
  .main-container .main-side .link-box.linkedin {
    border-top:0px solid black;
  }
  #work-content .project-desc {
    display: flex;
    flex-direction: column !important;
  }
  #work-content .info {
    margin-top:1em !important;
  }
  #about-content .right {
    display: none !important;
  }
  #about-content .left {
    width:80% !important;
  }
  #work-content .projet-desc {
    flex-direction: column !important;
  }
}
