#work-content {
  text-align: left;
  width: 70%;
  margin:auto;
}

#work-content .project-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor:crosshair;
}

#work-content #video .project-desc{
  flex-direction: column;
}

#work-content #video .project-desc .video-list {
  display: flex;
  align-items: baseline;
}

#work-content .title {
  margin: 2px 0 0;
}

#work-content span {
  display:none;
  width:fit-content;
}

#work-content .title, #work-content .project-desc {
  display: flex;
  flex-direction: row;
}

#work-content .project-desc {
  justify-content: space-between;
  align-items: baseline;
  height:0;
}

#work-content .info {
  margin-top: 0;
  font-style: italic;
  font-size: 0.92em;
}

#work-content .link {
  font-size: 0.77em;
}
